<!-- <div class ="empty" *ngIf=" items.length <1 "> -->
<div class="empty" *ngIf="items.length > 1">
  <div class="info">
    <h4>You dont have any items in your cart.</h4>
    <a routerLink="" class="btn btn-success">Start Shopping </a>
  </div>
  <ng-container *ngIf="items.length > 0"></ng-container>
  <div class="='cart" *ngFor="let item of items; let i = index"></div>
</div>

<div class="container mt-5">
  <div class="card text-left" *ngFor="let pro of products">
    <div class="row">
      <div class="col">
        <img class="card-img-top" src="{{ pro.image }}" alt="" />
      </div>
      <div class="col mt-1">
        <h4 class="card-title">{{ pro.name }}</h4>
        <p class="card-text">{{ pro.description }}</p>
        <!-- <p class="card-text">{{p.size}}</p> -->
        <p class="card-text">R {{ pro.price }}</p>
      </div>
      <div class="col">
        <div class="my-2">
          <br />
          <br />
          <br />
          <div class="def-number-input number-input">
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              class="minus"
            ></button>
            <input
              class="quantity"
              min="1"
              name="quantity"
              value="1"
              type="number"
              id="quantity"
            />
            <button
              onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              class="plus"
            ></button>
          </div>
          <div class="Total">{{ pro.price * pro.quantity }}</div>
        </div>

        <div>
          <a
            [routerLink]="['/cart']"
            class="btn btn-cancel btn-sm text-danger"
            href="#"
            role="button"
            onClick="onDelete(i)"
            >X</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="order">
      <p class>Order Information</p>
      <div>Total</div>
      <b>R 0</b>

      <button class="btn btn-success" onclick="placeOrder()">
        Place order
      </button>
    </div>
  </div>
  <div class="container ">

      
      <button class="btn btn-success" onclick="placeOrder()">
        Cancel Order
      </button>
    
  </div>
</div>
