.empty{
    height: 70vh;
 display: grid;
 justify-content: center;
 align-content: center;

 text-align: center;
}


.btn-sm{
    width: 45%;
}

input{
    width: 45%;
}

.btn-cancel{
    position: absolute;
    right: 0;
    top: 0px;
    width: 8%;
    border-radius: 50%;
}

h4{
    font-size: initial;
}

p{
    font-size: small;
}

.cart{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child){border-bottom: inset 2px oldlace;}

    &>*{
        margin:1rem;

    }
}
.order{
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(2,8rem);
    margin-top:1rem;
    padding:.5rem;
}
b{
    justify-self: end;

}

.btn{
    grid-column: 1/-1;
}

