<div class="container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    class="bi bi-arrow-left"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
    />
  </svg>

  <h4>Details</h4>
</div>

<div class="card" style="width: 18rem">
  <img src="../../../assets/shoes1.jpeg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Nike Airforce one</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <nav aria-label="...">
      <form [formGroup]="sizeForm">
        <ul class="pagination pagination-sm" formControlName="size">
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item">2</li>
          <li class="page-item">3</li>
          <li class="page-item">4</li>
          <li class="page-item">5</li>
          <li class="page-item">6</li>
          <li class="page-item">7</li>
        </ul>
      </form>
    </nav>

    <a href="#" class="btn btn-primary">Add To Cart</a>
  </div>
</div>
