


<h4 class="header">PROFILE </h4>
<div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Username:</h5>
      <p class="card-text">NAME HERE</p>
      <br>
      <h5 class="card-title">Email:</h5>
      <p class="card-text">EMAIL HERE</p>
    </div>
  </div>

  <!-- <h4 class="header">Products for you</h4> -->



  