<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
<section class="mx-3">

    <h1 class="text-center">Create Account</h1>
        <p>Let's get started!</p>
    <div class="container " >    
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!--full name-->
            <div class="form-group mb-3">
                <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="text" formControlName="fullname" placeholder="Full Name" class="form-control">
            </div>
            <!--email-->
            <div class="form-group mb-3">
               <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="email" formControlName="email"  placeholder="Email" class="form-control">
                
            </div>
            <!--  password -->
            <div class="form-group mb-3">
                <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="password" formControlName="password" placeholder="Password" class="form-control">
                
            </div>
            <!--retype password-->
            <div class="form-group mb-3">
                <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="password" formControlName="retypepassword" placeholder="Retype Password" class="form-control"> 
                    
            </div>

            <div class="form-group mt-5">
              <button type="submit" class="btn1 mb-3" (click)="register()"> <a style="color: white;" >Register</a></button>
              
              <div class="mb-3 form-check">
                  <label class="form-check-label" for="exampleCheck1"><small> <a style="color: 000000;">Already have an account?</a>  <a style="color: rgba(210, 124, 44, 1); text-decoration: underline;"> Login </a></small></label>
                </div>
          </div>
        </form>
    </div>
</section> 




