.wifi-icon{
    margin-right:10px;
     color:black;
 }
 .battery-icon{
     color:black;
     
 
 }
 p{
     color:black;
     margin-right:0;
     text-align: left;
 }
 .shopping-bag{
  margin-left:1200px;
  margin-top:20px;
 }
 h1{
     margin-left:1000;
     font-size: larger;
     font-style:inter ;
     text-align: center;
     
 }