<header>
    <div class="navbar navbar-dark bg-primary shadow-sm justify-content-end">
        <div class="navbar-brand align-item-center d-flex">
            <p><b>21:00</b></p>
            <span class="fas fa-wifi wifi-icon"></span>
            <span class="fas fa-battery-full  battery-icon"></span>
            <span class="b5 b5-signal-bars-good"></span>
           
        </div>
    </div>
  
   <i class="fas fa-shopping-bag  shopping-bag"></i>
    <i class="b5 b5-arrow-left"></i>
   <h1><strong>My Bag</strong></h1>
</header>
 