<h1>New collection</h1>
<p class="text">With the online text generator you can process your personal Lorem ipsum enriching it with html elements that define its structure, with the possibility to insert external links, but not only.</p>
<section class="container">
    <div class="card">
        <div class="card-img card-1"></div>
        <h2>NIKE AIR FORCE 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R1100</p>
        <div class="box">
            <a href="#">VIEW</a>
            <img src="../../../assets/cart-fill.svg" alt="Cart">
        </div>
    </div>
    <div class="card">
        <div class="card-img card-2"></div>
        <h2>ALL STAR BOOTS</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R1700</p>
        <div class="box">
            <a href="#">VIEW</a>
           <img src="../../../assets/cart-fill.svg" alt="Cart">
        </div>
    </div>
    <div class="card">
        <div class="card-img card-3"></div>
        <h2>NIKE AIR JORDAN 9</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R1500</p>
        <div class="box">
            <a href="#">VIEW</a>
           <img src="../../../assets/cart-fill.svg" alt="Cart">
        </div>
    </div>
<!-- </section> -->
<!-- <section class="container">  -->
    <div class="card">
        <div class="card-img card-4"></div>
        <h2>NIKE AIR FORCE</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R2000</p>
        <div class="box">
            <a href="#">VIEW</a>
            <img src="../../../assets/cart-fill.svg" alt="Cart">
        </div>
    </div>
    <div class="card">
        <div class="card-img card-5"></div>
        <h2>NIKE AIR FORCE</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R2700</p>
        <div class="box">
            <a href="#">VIEW</a>
            <img src="../../../assets/cart-fill.svg" alt="Cart">
        </div>
    </div>
    <div class="card">
        <div class="card-img card-6"></div>
        <h2>NIKE AIR FORCE</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>R2500</p>
       <div class="box">
        <a href="#">VIEW</a>
        <img src="../../../assets/cart-fill.svg" alt="Cart">
    </div>
    </div>
</section>
