<nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <img
        src="../../../assets/hamburger_icon.png"
        alt="Hamburger"
        width="50"
        height="40"
      />
      <!-- <i class="fas fa-bars"></i> -->
    </label>
    <label class="logo"
      ><img
        src="../../../assets/free-logo.jpeg"
        alt="Logo"
        width="180"
        height="70"
      />
    </label>
    <ul>
      <li><a href="#" class="active">Products</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
  </nav>

