

<div class="body">

    <div class="header">
        <div class="navSvg">
            <div class="goBack" style="color: limegreen;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
            </div>
            

              <img src="../../../assets/productPage.png"/>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>
        </div>
        


        
        

    </div>

    

    <div class="main">

        <h2>Nike Rosche Supreme 2.0</h2>
        <small>your favorite trainers</small>

        <hr>

        <div  class="Available sizes">
            <h3>Available sizes</h3>
            <div class="size-list">
                

                <div class="description">
                    <h3>Description</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                         Blanditiis, iure eius eveniet eum necessitatibus laborum
                         adipisci doloribus atque hic quam quod vero, pariatur officia.
                         Illo temporibus cum autem quia vero.
                    </p>
                </div>

                <div class="colors">
                    <h3>Colors</h3>
                        <p>Green</p>
                </div>

                <div class="price-bottom">
                    <div class="price">
                        <h3>Price: R 1980 </h3>
                    </div>
    
                    <div class="cart-button">
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
