<!-- BACK ARROW HERE -->

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" routerLink="/products"
  viewBox="0 0 16 16">
  <path fill-rule="evenodd"
    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
</svg> -->



<!-- CART NAVBAR -->

<app-navbar></app-navbar>

<!-- CART NAVBAR -->


<!-- Default dropright button -->
<!-- <div class="card"  *ngFor="let product of Products ; let i = index"> -->
<div class="container">
  <div class="card">
    <img src='{{product.image}}' class="card-img-top" alt="...">
    <div class="card-body">
      <div class="row">
        <div class="col"><p class="card-title nike-id">Product Code: 002576-{{product.prod_id}}</p></div>
        <div class="col"><p class="card-title nike-name">Price: R {{product.prod_name}}</p></div>
        <p class="price">Price: R {{product.prod_price}}</p>
      </div>
      
     
      <p class="card-text">Description: {{product.prod_desc}}</p>
  
      <div class="all-btn dropright justify-content-between w-100">
        <div class="rows ">
          <div class="qt"><p class="card-title">Size:</p></div>
          <div class="qtnum"><select class="form-control" >
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="7">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="9">10</option>
              <option value="9">11</option>
              <option value="9">12</option>
              <option value="9">13</option>
          </select></div>
      </div>
        <div class="btn-group">
          <button type="button" class="btn " (click)="addToCart(product)">Add To Cart</button>
        </div>
      </div>

    </div>
  </div>
</div>