.card{
    margin: auto;
    border-radius: 5%;
  width: 75%;
  padding: 10px; 
}


.btn-group{
    align-content: left;
    margin: auto;
}


.all-btn{
margin: auto;
align-content: left;
}


.card-img-top{
    border-radius: 6%;
}


