



<!-- CART NAVBAR -->

<div class="Nav">
    <nav class="navbar navbar-light bg-light">
        <i class="fa-solid fa-arrow-left-long btn-lg " routerLink="/products"></i>
        <div class="text">My Bag</div>
        <i class="fa-solid fa-cart-shopping" routerLink="/shopping-cart"></i>     
    </nav>
</div>
  
<!-- CART NAVBAR -->




<!-- CART CARD HERE

<div class="container mb-5">
    <div class="content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card ">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-4">
                                <div class="images">
                                    <img src="../../../assets/productPage5.png" height="100" width="100">
                                </div>
                            </div>

                            <div class="col-6 ">
                                <div class="item-name">
                                    <p class="card-category">Puma 230</p>
                                </div>

                                <div class="item-size">
                                    <p class="card-category">size: </p> 
                                </div>

                                <div class="item-name">
                                    <a class="remove" routerLink="#">Remove</a>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="item-name">
                                    <p class="card-category">Price</p>
                                </div>

                                <div class="item-name">
                                    <p class="card-category">Price</p>
                                </div>

                                <div class="numbers">
                                    <div class="rows ">
                                        <div class="qt"><p class="card-title">Qty:</p></div>
                                        <div class="qtnum"><select class="form-control" >
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="7">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                        </select></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <div class="card-footer ">
                            <div class="stats">
                                <i class="fa fa-refresh"></i> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   -->

<div class="container">
    <div class="card empty" >
        <h4 class="card-title">My Cart</h4>
    </div>

    <div class="center">
        <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=30" alt="">
        <h5>Your Cart is empty!</h5>
        <h6>Add item to it now</h6>
        <button class="btn btn-primary">Show Now</button>
    </div>
</div>