.nav{
    margin: 30%;
}


.fa-solid{
    color: #D27C2C;
    width: 20px;
}

.text{
    font-size: 20px;
    color: #D27C2C;
}


.container{
    width: 80%;
}

.item-name{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight:400;
    font-size: 15px;
}

.card-category{
    font-size: 20px;
}