<!-- 
<h2 class="title">My Bag</h2>
<div class="container">

    <div class="card" >
        <table class="table-items">
            <tr>
                <td>  <div class="profile-sidebar">
                   
                    </div>
                </td>
                <td>
                    <div class="profile-main">
                        <span class="inner">
                            <h2 class="profile-name">{{item.name}}</h2>
                        </span>
                        <p class="profile-position" style="font-size: 2rem;">R {{item.price}}.00</p>
                        <div class="def-number-input number-input">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                            <input class="quantity" min="1" name="quantity" value="{{item.quantity}}" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                          </div>
                    </div>
                </td>
                <td class="icon">
                    <svg style="color: #D27C2C;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </td>
            </tr>
        </table> 
    </div>

</div>



 CHECKOUT MENU




<div class="card-info">
    <h2 class="order-title">Order Information</h2>
    <p>No. of items <span>3</span></p>      
    <h2>Total <span style="color: #D27C2C; font-size: 2.5rem;">R {{total}}.00</span></h2>
    <button class="btn">Proceed to checkout</button>
</div>








JavaScript Bundle with Popper 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

-->


<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <a class="navbar-brand" >Navbar</a>
</nav>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 ">
                            <div class="images">
                                <img src="../../../assets/productPage5.png" height="60" width="80">
                            </div>
                        </div>
                    
                        <div class="col-4 ">
                            <div class="numbers">
                                <p class="card-category">Puma 230</p>
                                <p class="card-title"> 
                            </div>
                        </div>

                        <div class="col-4 ">
                            <div class="numbers">
                                <p class="card-category">R2 300.00 </p>
                                <div class="rows">
                                    <div class="qt"> <p class="card-title">Qty:
                                    </p></div>
                                    <div class="qt-num"> <select formControlName="usertype" class="form-control" >
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="7">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
    
                                    </select></div>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="card-footer ">
                    <div class="stats">
                        <i class="fa fa-refresh"></i>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>