

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


<!-- CART NAVBAR -->

<div class="Nav">
    <nav class="navbar navbar-light bg-light">
        <i class="fa-solid fa-arrow-left-long btn-lg " routerLink="/products"></i>
        <div class="text" routerLink="/">My Bag</div>
        <i class="fa-solid fa-cart-shopping" routerLink="/shopping-cart"></i>     
    </nav>
</div>
  
<!-- CART NAVBAR -->




<!-- CART CARD HERE -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 ">
                            <div class="images">
                                <img src="../../../assets/productPage5.png" height="60" width="80">
                            </div>
                        </div>
                    
                        <div class="col-4 ">
                            <div class="item-name">
                                <p class="card-category">Puma 230</p>
                                <p class="card-title"> 
                            </div>
                        </div>

                        <div class="col-4 ">
                            <div class="numbers">
                                <p class="card-category">R2 300.00 </p>
                                <div class="rows">
                                    <div class="qt"> <p class="card-title">Qty:
                                    </p></div>
                                    <div class="qt-num"> <select formControlName="usertype" class="form-control" >
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="7">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
    
                                    </select></div>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
              
            
            </div>
        </div>
    </div>
</div> 




