
// .fa-solid{
//     color: #D27C2C;
//     width: 20px;
// }

// .text{
//     font-size: 20px;
//     color: #D27C2C;
// }



// .item-name{
//     font-family: 'Hind Siliguri', sans-serif;
//     font-weight:400;
//     font-size: 15px;
// }

// .card-category{
//     font-size: 20px;
// }

.rows{
    display: flex;
}
.qtnum{
    width: 70px;
    text-align: center;
}
.empty{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 25px;
    margin: 20px;
}
.center{
    top:50%;
    left:50%;
    transform: translate(-45%, -45%);
    text-align: center;
    position: absolute;
}