

<div class="main">

  <!--------- new products ----------->
    <h2>New Arrivals</h2>
    <br>
    <div class="new-arrivals">
    

      <div class="card">

        <img src="../../assets/productPage.png" alt="">
        <h3>Nike Air Force</h3>

            <h3>R 2300</h3>
            <h3>Description</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Natus eligendi eos dolorum repudiandae voluptas deleniti 
          </p>
     </div>
        
     <div class="card">
            
      <img src="../../assets/productPage.png" alt="">
  
      <h4>Nike Air Force</h4>

    
          <h3>R 2300</h3>
          <h3>Description</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Natus eligendi eos dolorum repudiandae voluptas deleniti 
      </p>

      
   </div>
    
   <div class="card">
            
    <img src="../../assets/productPage.png" alt="">

    <h4>Nike Air Force</h4>

        <h3>R 2300</h3>
        <h3>Description</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Natus eligendi eos dolorum repudiandae voluptas deleniti 
      </p>
       
    
    
 </div>
    
 <div class="card">
  <img src="../../assets/productPage.png" alt="">

  <h4>Nike Air Force</h4>


      <h3>R 2300</h3>
      <h3>Description</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Natus eligendi eos dolorum repudiandae voluptas deleniti 
      </p>
      
  </div>
      
 </div>
    
    <!--------- main products/ all products ---------->
    <h2>Products For You</h2>
        <br>
     <div class="products-for-you">
        
    
        <div class="card">
          <img src="../../assets/productPage.png" alt="">
        
          <h4>Nike Air Force</h4>
        
        
              <h3>R 2300</h3>
              <h3>Description</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Natus eligendi eos dolorum repudiandae voluptas deleniti 
              </p>
              
          </div>

          <div class="card">
            <img src="../../assets/productPage.png" alt="">
          
            <h4>Nike Air Force</h4>
          
          
                <h3>R 2300</h3>
                <h3>Description</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                   Natus eligendi eos dolorum repudiandae voluptas deleniti 
                </p>
                
            </div>

            <div class="card">
              <img src="../../assets/productPage.png" alt="">
            
              <h4>Nike Air Force</h4>
            
            
                  <h3>R 2300</h3>
                  <h3>Description</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Natus eligendi eos dolorum repudiandae voluptas deleniti 
                  </p>
                  
              </div>

              <div class="card">
                <img src="../../assets/productPage.png" alt="">
              
                <h4>Nike Air Force</h4>
              
              
                    <h3>R 2300</h3>
                    <h3>Description</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                       Natus eligendi eos dolorum repudiandae voluptas deleniti 
                    </p>
                    
                </div>


          <div class="card">
            
            <img src="../../assets/productPage.png" alt="">
        
            <h4>Nike Air Force</h4>
        
                <h3>R 2300</h3>
                <h3>Description</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Natus eligendi eos dolorum repudiandae voluptas deleniti 
              </p>

          </div>

          <div class="card">
            <img src="../../assets/productPage.png" alt="">
          
            <h4>Nike Air Force</h4>
          
          
                <h3>R 2300</h3>
                <h3>Description</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                   Natus eligendi eos dolorum repudiandae voluptas deleniti 
                </p>
                
            </div>
      </div>
            

    
     






