

<div class="main">
  <div class="back-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </div>
  <!--------- new products ----------->
    <h2>New Arrivals</h2>
    <br>
    <div class="new-arrivals">
    

      <div class="card" style="width: 18rem;">
         <img src="../../../assets/productPage1.png" class="card-img-top" alt="...">
         <div class="card-body">
          <div class="cart-price">
            <h5 class="card-title"> Air Jordan 13 Retro </h5>
           <h4>R3899</h4>
          </div>
           
           <p class="card-text">THE BLACK CAT IS BACK.Michael Jordan earned the nickname "Black Cat" for his superior athletic ability and prowess at both ends of the court.That nickname became the muse for the Tinker Hatfield-designed Air Jordan 13.Featuring a panther-paw-like sole and "cat eye" holograph, Michael rode the mid-top shoe all the way to his 6th ring in '98, the last triumph of his legendary career.The Air Jordan 13 Retro brings back the stealthy, shrouded design with a fresh mix of colours and textures.
            
            
            Benefits
            
            Responsive Zoom Air is encapsulated in the forefoot and heel, providing springy, low-profile cushioning.
            Genuine and synthetic leathers and textile materials in the upper provide structure and durability.
            
            Product Details
            
            Holographic "cat eye" logo
            Herringbone traction
            Foam midsole
            Not intended for use as Personal Protective Equipment (PPE)
            Colour Shown: Navy/Black/White/University Blue
            Style: DJ5982-400
            Country/Region of Origin: China
            </p>
            <button class="btn btn-primary" (click)="viewAll()">View Product</button>
         </div>
       </div>
        


     <div class="card" style="width: 18rem;">
      <img src="../../../assets/productPage2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="cart-price">
          <h5 class="card-title"> Air Jordan 13 Retro </h5>
         <h4>R3899</h4>
        </div>
        <p class="card-text">Nike has produced more than 700 versions of the shoe, collaborating with the likes of Bella Hadid, Kendrick Lamar, and the Netflix show Stranger Things. The shoe's prominent swoosh and herringbone pattern outsole have made it popular across generations.

          The sneaker made its debut in 1972. Immediately upon its release, it became a staple of the company's early years. The Cortez has also been a staple in pop culture – it was the shoe of choice for Forrest Gump when he ran across the country and Whitney Houston when she sang the national anthem at the Super Bowl in 1991.</p>
          <button class="btn btn-primary" (click)="viewAll()">View Product</button>
      </div>
      
    </div>
    


   <div class="card" style="width: 18rem;">
      <img src="../../../assets/productPage3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="cart-price">
          <h5 class="card-title"> Air Jordan 13 Retro </h5>
         <h4>R3899</h4>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="viewAll()">View Product</button>
      </div>
      
    </div>
    


 <div class="card" style="width: 18rem;">
   <img src="../../../assets/productPage4.png" class="card-img-top" alt="...">
   <div class="card-body">
    <div class="cart-price">
      <h5 class="card-title"> Air Jordan 13 Retro </h5>
     <h4>R3899</h4>
    </div>
     <p class="card-text">THE BLACK CAT IS BACK.Michael Jordan earned the nickname "Black Cat" for his superior athletic ability and prowess at both ends of the court.That nickname became the muse for the Tinker Hatfield-designed Air Jordan 13.Featuring a panther-paw-like sole and "cat eye" holograph, Michael rode the mid-top shoe all the way to his 6th ring in '98, the last triumph of his legendary career.The Air Jordan 13 Retro brings back the stealthy, shrouded design with a fresh mix of colours and textures.
            
            
      Benefits
      
      Responsive Zoom Air is encapsulated in the forefoot and heel, providing springy, low-profile cushioning.
      Genuine and synthetic leathers and textile materials in the upper provide structure and durability.
      
      Product Details
      
      Holographic "cat eye" logo
      Herringbone traction
      Foam midsole
      Not intended for use as Personal Protective Equipment (PPE)
      Colour Shown: Navy/Black/White/University Blue
      Style: DJ5982-400
      Country/Region of Origin: China</p>
      <button class="btn btn-primary" (click)="viewAll()">View Product</button>
     
   </div>
 </div>
      
 </div>
    
    <!--------- main products/ all products ---------->
    <h2 class="productsForYou">Products For You</h2>
        <br>
     <div class="products-for-you">
        
      <div class="card" style="width: 18rem;">
         <img src="../../../assets/productPage5.png" class="card-img-top" alt="...">
         <div class="card-body">
          <div class="cart-price">
            <h5 class="card-title"> Air Jordan 13 Retro </h5>
           <h4>R3899</h4>
          </div>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <button class="btn btn-primary" (click)="viewAll()">View Product</button>
         </div>
       </div>



          <div class="card" style="width: 18rem;">
            <img src="../../../assets/productPage6.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="cart-price">
                <h5 class="card-title"> Air Jordan 13 Retro </h5>
               <h4>R3899</h4>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary" (click)="viewAll()">View Product</button>
            </div>
          </div>




          <div class="card" style="width: 18rem;">
            <img src="../../../assets/productPage7.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="cart-price">
                <h5 class="card-title"> Air Jordan 13 Retro </h5>
               <h4>R3899</h4>
              </div>
              <p class="card-text">Pack your bag, lace up and get going.
                 City adventures beckon in these NMD_R1 shoes. An update 
                 to an acclaimed '80s runner from the adidas archive, these
                  modern trainers have a soft, stretchy knit upper and energy-returning
                   Boost cushioning for all-day comfort. Bold colour and signature midsole
                    plugs make a statement, so wherever you're headed, you're sure to show 
                    up in style. This product is made with Primeblue, a high-performance recycled
                     material made in part with Parley Ocean Plastic.
                 50% of the upper is textile, 75% of the textile is Primeblue yarn. No virgin polyester.</p>
                 <button class="btn btn-primary" (click)="viewAll()">View Product</button>
            </div>
          </div>




            <div class="card" style="width: 18rem;">
               <img src="../../../assets/shoes1.jpeg\" class="card-img-top" alt="...">
               <div class="card-body">
                 
                 <div class="cart-price">
                  <h5 class="card-title">Nike Airforce</h5>
                 <h4>R1899</h4>
                </div>
                 <p class="card-text"> Benefits
            
                  Responsive Zoom Air is encapsulated in the forefoot and heel, providing springy, low-profile cushioning.
                  Genuine and synthetic leathers and textile materials in the upper provide structure and durability.
                  
                  Product Details
                  
                  Holographic "cat eye" logo
                  Herringbone traction
                  Foam midsole
                  Not intended for use as Personal Protective Equipment (PPE)
                  Colour Shown: Navy/Black/White/University Blue
                  Style: DJ5982-400
                  Country/Region of Origin: China</p>
                  <button class="btn btn-primary" (click)="viewAll()">View Product</button>
               </div>
             </div>



              <div class="card" style="width: 18rem;">
               <img src="../../../assets/leo-griffith-CjNFouugoZs-unsplash.jpeg" class="card-img-top" alt="...">
               <div class="card-body">
                
                 <div class="cart-price">
                  <h5 class="card-title">All Star</h5>
                <h4>R 1 199,95</h4>
                </div>
                 <p class="card-text">Since 1917, the Chuck Taylor All Star has been an icon of everyday cool. You already know the details that started on the basketball court—the diamond pattern outsole and classic star ankle patch. An upper made with about 50% recycled cotton canvas updates the look with the future in mind. The classic style is complemented by heritage design elements, like a rubber toe bumper and diamond pattern outsole.

                  More sustainable material 
                  Recycled material 
                  High-top sneaker with an upper made from about 50% recycled cotton canvas
                  Heritage design elements like rubber toe bumper and toe cap
                  Classic star ankle patch and midsole stripes
                  Diamond pattern outsole
                  OrthoLite insole helps keep it comfortable</p>
                  <button class="btn btn-primary" (click)="viewAll()">View Product</button>
               </div>
             </div>




                <div class="card" style="width: 18rem;">
                  <img src="../../../assets/omar-prestwich-jLEGurepDco-unsplash.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    
                    <div class="cart-price">
                      <h5 class="card-title">Puma</h5>
                    <h4>R 2 899,90</h4>>
                    </div>
                    <p class="card-text">Spread some positive vibes with these vibrant kicks, studded with mood-boosting SmileyWorld emoticons. The progressive design unites an energetic mixed-material upper and playful, easy-going design details, with an ultra-light, super-cushioned IMEVA midsole for a comfy stride all day long. These kicks are a continuation of SmileyWorld's 50-year mission to share fun and joy through inspiring smiley designs.</p>
                    <button class="btn btn-primary" (click)="viewAll()">View Product</button>
                  </div>
                </div>

                

          
      </div>
            

    
     






