.main {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    font-family: Inder;
    padding-bottom: 15%;
    padding: 5px;
    margin-bottom: 5%;
}
h2 {
  margin: 2%;
}

.productsForYou {
    margin-bottom: 2%;
}

.back-arrow, h2 {
    padding: 10px;
}

.right-tools {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    list-style: none;
}

ul li {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    list-style: none;
}

.new-arrivals {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.cart-price {
    display: flex;
    justify-content: space-between;
}

.products-for-you {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8%;
}

.new-arrivals .crd, 
.products-for-you .card {
    margin: 2%;
    width: 30%;
}

p {
    white-space: nowrap; 
    width: 90%; 
    height: 25%;
    overflow: hidden;
    text-overflow: ellipsis; 
   
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-bottom div {
    
    align-items: baseline;
    padding: 20px;
}

.card .card-img-top {
    width: 50%;
    height: 50%;
    padding-left: 60px;
}
button {
    background-color: rgba(217, 217, 217);
    border: none;
}


@media screen and (max-width: 600px) {
    .new-arrivals {
        display: flex;
        
    }
}

