
.nav{
    margin: 30%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;

    list-style: none;
    align-items: center;
}

ul li {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    list-style: none;
}


.fa-solid{
    color: #D27C2C;

}


//HOVER TEXT EFFECT

.hovertext{
    position: relative; 
      
}



.hovertext:before {
    content: attr(data-hover);
    left: 30px;
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: #D27C2C;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
  
  //HOVER TEXT EFFECT